.btn-back-to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--pr-violet);
    color: #fff;
    
    cursor: pointer;
    transition: all .5s;
    border: none;
}