
.carousel-control-next, .carousel-control-prev{
    width: initial !important;
    opacity: 1 !important;
    margin: 0 16px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  background-image: none !important;
}

.carousel-control-next-icon:after, .carousel-control-prev-icon:after{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #fff;
}

