
.breadcrumb-wrap .breadcrumb {
    /* background-color: transparent; */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
}
.breadcrumb-item.active{
    color: #6c757d;
}
.breadcrumb-item a {
    color: inherit;
}

.details-post-title {
    font-size: 30px;
    color: #464646;
    margin-bottom: 20px;
    font-weight: 700;

}

.details-post-time {
    color: #a1a1a1;
    font-size: 14px;
    margin-bottom: 30px;
}
.details-post-time span{
    margin-right: 15px;
}

.details-post-time i {
        margin-right: 10px;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.details-post-description{
    font-size: 16px;
    font-weight: 700;
    color: #464646;
}
.page_speed_248973596 {
    text-align: justify;
}

.details-post-description strong {
    font-weight: 700;
}

.details-post-content img, .details-post-description img{
    width: 100%;
    height: 100%;
}

/* sidebar */
.widget-title h3{
    font-size: 16px;
    text-transform: uppercase;
    color: #464646;
    padding: 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.widget-content{
    border-bottom: 1px solid #ccc;
    margin-bottom: 45px;
}

.item-post-sidebar{
    margin-bottom: 30px;
}
.item-post-sidebar .row .col-5 a img {
    width: 100%;
    height: 100%;
}

.item-post-sidebar h3{
    font-size: 14px;
    color: #464646;
}