.banner-bk {
  padding: 0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.inner-header-title {
  position: relative;
}
.inner-header-title img {
  width: 100%;
}
.inner-header-title-caps {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  width: 100%;
}
.inner-header-title-caps h2 {
  font-size: xx-large;
  display: block;
  border-bottom: none;
  padding-bottom: 10px;
  color: var(--white);
}
.inner-header-title-caps h3 {
  color: var(--white);
}
.inner-header-title-caps .title-Banner3 {
  color: var(--orange);
  padding-bottom: 10px;
}
.inner-header-title-caps .container {
  width: 100%;
}
.inner-header-title-caps p {
  font-size: 17px;
  color: var(--white);
}
.inner-header-title-caps span {
  font-weight: bold;
}

.title-banner4 {
  color: var(--orange);
}
.card-history .card-img {
  width: 150px;
  background: #ddd;
  border-radius: 50%;
  margin: 20px 0;
}
.card-img img {
  width: 100%;
  padding: 30px;
}

/* LỊCH SỬ HÌNH THÀNH */
.card-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border: 2px solid #410e69;
  border-radius: 16%;
}
.card-history h4 {
  margin: 20px;
  color: #410e69;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .inner-header-title-caps h3 {
    margin-bottom: 0px;
    font-size: 20px;
  }
  .inner-header-title-caps h2 {
    font-size: 16px;
    margin-bottom: 0;
    border-bottom: 0;
  }
  .inner-header-title-caps p {
    font-size: 22px;
  }
}
@media (max-width: 415.98px) {
  .inner-header-title-caps h3 {
    font-size: 15px;
  }
  .inner-header-title-caps h2 {
    font-size: 11px;
    padding: 0;
  }
  .inner-header-title-caps p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .inner-header-title-caps .title-Banner3 {
    padding-bottom: 0;
  }
}
