

@media screen and (max-width: 992px) {
  main {
    padding-top: 102px;
  }
}

@media screen and (min-width: 768px) {
    .container{
      max-width: 720px;
    }
}

@media screen and (min-width: 1200px) {
  .container{
    max-width: 1170px !important;
    padding: 0 15px !important;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
